@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700');

:root {
// colors
    --bg-color: #F4F4F4;
    --color-contrast: #FFFFFF;
    --color-primary: #809D75;
    --color-secondary: #D9E2D6;
    --color-tertiary: #FF7F74;
    --logo: url(https://i.imgur.com/SKiaOYm.png);
    --logo-small: url(https://i.imgur.com/eo8c3Re.png);
    --color-text: #304119;
    --logo-text: #000000;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --inner-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    &.darkMode {
        --bg-color: #1C1C1C;
        --color-contrast: #44483E;
        --color-secondary: #44483E;
        --logo: url(https://i.imgur.com/rXFB3X0.png);
        --logo-small: url(https://i.imgur.com/z0JVWte.png);
        --color-text: #D9E2D6;
        --logo-text: #FFFFFF;
        --box-shadow: 0px -5px 30px rgba(191, 191, 191, 0.2);
        --inner-shadow: inset 0px -5px 30px rgba(191, 191, 191, 0.2);
    }

// fonts-size
    --text-xxs: .6rem;
    --text-xs: .8rem;
    --text-sm: 1rem;
    --text-md: 1.2rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;

// fonts-size
    --space-xxs: .1rem;
    --space-xs: .25rem;
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 4rem;
    --space-3xl: 8rem;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

