@import '../../../Reset.scss';

.signup__wrapper {
    padding: var(--space-lg) var(--space-md) var(--space-2xl) var(--space-md);
}

.signup__btn {
    @include reset-button;
    
    width: fit-content;
    float: right;
    padding: var(--space-sm);
    margin-top: var(--space-lg);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--color-text);
    font-size: var(--text-md);
    background-color: var(--color-secondary);
}
