.settings__wrapper {
    padding: var(--space-lg) var(--space-md) var(--space-2xl) var(--space-md);
}

.settings__title {
    color: var(--color-text);
    font-size: var(--text-lg);
    margin: 0 0 var(--space-md) 0;
}
