.bottom-bar__wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background-color: var(--color-contrast);
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.25);
}

.bottom-bar__button {
    border: none;
    background-color: transparent;
}

.bottom-bar__link,
.bottom-bar__button {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0.2rem;
    color: var(--color-primary);

    &.active {
        border: 2px solid var(--color-primary);
        border-radius: 8px;

        &::after {
            content: '';
            position: absolute;
            top: 0.15rem;
            left: 0.15rem;
            width: 110%;
            height: 110%;
            background-color: var(--color-secondary);
            border-radius: 8px;
            z-index: -1;
        }
    }
}
