@import '../../../Reset.scss';

.card {
    position: relative;
    display: flex;
    flex: 2;
    background-color: var(--color-contrast);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        bottom: 0.2rem;
        left: 0.2rem;
        border: solid 2px var(--color-primary);
        border-radius: 0.5rem;
    }

    &:active {
        &::after {
            bottom: 0;
            left: 0;
        }
    }
}

.card__img {
    width: 80px;
    height: auto;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--bg-color);
    padding: var(--space-sm);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.card__body {
    width: 75%;
    padding: var(--space-sm);
    display: flex;
}

.card__body__left {
    flex: 2;
}

.card__body__name {
    margin: 0;
    color: var(--color-text);
    font-size: var(--text-md);
    font-weight: 500;
    border-bottom: solid 1px var(--color-primary);
}

.card__body__categories {
    display: flex;
    justify-content: space-between;
}

.categories__diffusions {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    padding-top: var(--space-sm);

    .categories__diffusion {
        img {
            color: var(--color-primary)
        }
    }
}

.card__body__right {
    @include reset-list;

    display: flex;
    flex-direction: column;
    padding: var(--space-xs) 0 0 var(--space-xs);
    margin: 0 0.5rem 0 0;
    border-left: solid 1px var(--color-primary);
    gap: var(--space-xs);
    
    .categories__theme {
        width: 100%;
        text-align: center;
        font-size: var(--text-xxs);
        padding: var(--space-xxs);
        border-radius: 4px;
        border: solid 1px var(--color-primary);
        color: var(--color-text);
    }
}

