@import '../../../Reset.scss';

.header {
    height: 5rem;
    width: 100%;
    border-bottom: var(--color-primary) 2px solid;
    background-image: var(--logo-small);
    background-repeat: no-repeat;
    background-position: center;

    a {
        @include reset-link;
    }

    .header__name {
        color: var(--logo-text);
        font-family: 'Libre Baskerville', serif;
        font-size: var(--text-md);
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: var(--space-md);
    }

    &.home {
        height: 8rem;
        background-image: var(--logo);
        padding-bottom: var(--space-md);

        .header__name {
            height: 9rem;
            font-size: var(--text-lg);
        }
    }

    &.menu {
        background-image: none;
        margin: 0;
        padding: 0 0 var(--space-md) 0;

        .header__name {
            font-size: var(--text-lg);
            color: var(--color-tertiary);
        }
    }
}


.header__btn {
    @include reset-button;

    position: absolute;
    top: 1.5rem;
    left: 2rem;
    color: var(--color-primary);
}
